body {
    font-family: sans-serif;
    text-align: center;
    background: #111;
    color: white;
    margin: 0;
    padding: 1rem;
  }
  
  .book {
    margin: 0 auto;
    width: 90vw;
    max-width: 800px;
    height: 90vh;
    border: 1px solid #444;
  }
  